.drop-down-container {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
}
.drop-down-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-weight: bold;
  padding: 10px;
  font-size: 1rem;
  color: white;
}
.drop-down-list {
  position: absolute;
  width: 100%;
  top: 110%;
  background-color: white;
  border-radius: 10px;
  padding-inline: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}
.drop-down-list li {
  margin-block: 10px;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.3em;
}
.drop-down-list li:hover {
  background-color: rgb(172, 172, 172);
}
