@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button,
select,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
input {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 5px;
}
ul {
  padding-left: 0;
}
button {
  cursor: pointer;
}
.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  width: min(90%, 1240px);
  margin: 0 auto;
  padding: 0 1em 2em;
}
.in-progress-container,
.empty-container {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1em;
}
.in-progress-container svg {
  width: 200px;
  height: 100px;
}
@media (max-width: 640px) {
  .app-container {
    width: min(100%, 1240px);
  }
}
