.home-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3em;
  padding-block: max(1.3em, 3.5vw) 1em;
}
.title-container {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}
.title-container h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(1.9rem, 3.7vw, 4rem);
  margin-block: 10px 20px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}
.product-item {
  display: grid;
  gap: 15px;
  background-color: rgb(232, 226, 235);
  padding: 0.9em;
  padding-bottom: 1em;
  border-radius: 6px;
  position: relative;
}
.product-image-container {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  padding-block: 10px;
}
.product-image-container img {
  position: relative !important;
}
.product-title {
  font-weight: 500;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.7px;
}
.product-description {
  font-size: clamp(0.7rem, 1.1vw, 1.3rem);
  color: rgb(99, 99, 99);
}
.product-description a {
  text-decoration: underline;
}
.add-favourites-btn {
  position: absolute;
  bottom: 0.7em;
  right: 1.3em;
}
.add-favourites-btn svg {
  width: 18px;
  height: 18px;
}
.favourite svg path {
  fill: #ff008a;
  color: #ff008a;
}
